* {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: white;
  color: black;

  font-family: Helvetica, sans-serif;
}

.container {
  box-sizing: border-box;
}
  #container-inner {
    position: relative;
    width: 100%;
    height: 100%;
  }

  #container-dark {

  }

  #info-panel {
    position: absolute;
    width: 80vw;
    height: 60vh;
    left: 10vw;
    top: 10vh;
    padding: 5vh 5vh;
    background: white;
    background-attachment: fixed;
    border: 2px solid black;
    border-radius: 25px;
    box-sizing: border-box;
    z-index: 99;
    visibility: hidden;
    overflow: auto;
  }
    .info-message {
     font-weight: 250;
    font-size: 6vh;
    margin-top: 1vh;
    }

    #device-panel {
        position: absolute;
        vertical-align: middle;
        width: 60vh;
        height: 60vh;
        left: 36vh;
        top: 30vh;
        border: 2px solid black;
        border-radius: 32px;
        box-sizing: border-box;
        padding: 24px;
        margin-right: 24px; 
        z-index: 98;
        visibility: hidden;
      }

  #logo {
    position: absolute;
    right: 0;
    top: 0;
    width: 110px;
    height: 110px;
    background: url(../img/logo.png) no-repeat center center;
    background-size: contain;
  }

  #details {
    position: absolute;
    right: 110px;
    top: 0;
    width: 110px;
    height: 110px;
  }

  #battery-details {
    display: inline-block;
    position: relative;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    width: 110px;
    height: 50px;
    background: url(../img/battery.png) no-repeat center center;
    background-size: contain;
  }
  #sensor-details{
    display: inline-block;
    position: relative;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    width: 108px;
    height: 50px;
    background: url(../img/warning.png) no-repeat center center;
    background-size: contain;
  }
  #notification-details{
        display: inline-block;
        position: relative;
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center center;
        width: 104px;
        height: 50px;
        background: url(../img/notification.png) no-repeat center center;
        background-size: contain;
      }

  #text {
    text-align: center;
  }
    #text-large {
      font-size: 6vh;
      font-weight: 150;
      margin-top: 20px;
    }
    #text-large:after {
      content: "";
      display: block;
      height: 1px;
      background: black;
      width: 200px;
      margin: auto;
      margin: 40px auto;
    }
    #text-small {
      font-size: 6vh;
      font-weight: 250;
    }

  #weather {

  }
    #weather-temperature {
      font-size: 100px;
      font-weight: 500;
      line-height: 96px;
    }
    #weather-temperature:after {
      content: "°c";
    }
    #weather-state {
      display: inline-block;
      position: relative;
      width: 100px;
      height: 100px;
      padding-left: 20px;
      padding-right: 20px;
    }
      #weather-state #weather-state-icon {
        background: black;
        margin-bottom: 6px;
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center center;
        background-size: 0px;
        height: inherit;
      }

  
  .favorites {

  }
    .favorites h2 {
      display: block;
      width: 100px;
      font-size: 42px;
      font-weight: 700;
      padding-bottom: 12px;
      margin-bottom: 30px;
     
    }
    .favorites h2:after {
      content: "";
      display: block;
      height: 2px;
      margin-right: 25px;
      background: linear-gradient(to right, #000000 0%, rgba(0,0,0,0) 100%);
    }
    .favorites-inner {
      font-size: 0;
      overflow-x: hidden;
      white-space: nowrap;
      -webkit-mask-image: linear-gradient(to right, #000000 90%, rgba(0,0,0,0) 100%);
    }

  #flows {
  }
    .flows {
    }
      .flow {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap;
        height: 64px;
        border: 2px solid black;
        border-radius: 64px;
        font-size: 0;
        margin-right: 24px;
      }
      .flow.running:before {
        content: "✓";
        color: white;
        text-align: center;
        line-height: 64px;
        display: block;
        background: black;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        font-size: 32px;
      }
        .flow .play {
          display: inline-block;
          vertical-align: middle;
          width: 64px;
          height: 64px;
          background: url(../img/play.png) no-repeat center center;
          background-size: contain;
        }
        .flow .name {
          display: inline-block;
          vertical-align: middle;
          height: 64px;
          line-height: 64px;
          font-size: 28px;
          font-weight: 700;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 0 20px;
          padding-right: 30px;
          max-width: 300px;
        }

  #devices {

  }
    .devices {
      
      }
    
      .device {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        width: 200px;
        height: 200px;
        border: 2px solid black;
        border-radius: 32px;
        box-sizing: border-box;
        padding: 24px;
        margin-right: 24px;
      
        opacity: 0.5;
      }
      .device.on {
        opacity: 1;
      }
        .device .icon {
          width: 90px;
          height: 90px;
          background: black;
          margin-bottom: 6px;
          -webkit-mask-size: contain;
          -webkit-mask-repeat: no-repeat;
          -webkit-mask-position: center center;
        }
        .device .icon-capability {
          width: 90px;
          height: 90px;
          background: black;
          margin-bottom: 6px;
          -webkit-mask-size: contain;
          -webkit-mask-repeat: no-repeat;
          -webkit-mask-position: center center;
        }
        .device .value {
          width: 100%;
          font-size: 10px;
          height: 64px;
          line-height: 32px;
          font-weight: 700;
          vertical-align: text-top;
          overflow: hidden;
          white-space: normal;
          text-overflow: ellipsis;
        }
        #decimal {
          font-size: 14px;
          vertical-align: text-top;
        }
        .device .value.hidden {
          visibility: hidden;
        }
        .device .name {
          width: 100%;
          font-size: 20px;
          height: 64px;
          line-height: 32px;
          font-weight: 700;
          overflow: hidden;
          white-space: normal;
          text-overflow: ellipsis;
        }
        .device .name.highlight {
          font-weight: 1000;
        }
